CMakeLists.txt.user
.vscode/settings.json
cmake-build-debug/*
cmake-build-debug-visual-studio/*
cmake-build-default/*
cmake-build-minsizerel/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
kenai-build/*
kenai-install/*
kenai-build-web/*
kenai-install-web/*
kenai-web-build/*
kenai-android-build/*
kenai-android-arm64-build/*
kenai-windows-build/*
kenai-build-windows/*
kenai-windows-install/*
kenai-install-windows/*
kenai-web-install/*
openssl-mingw/*
openssl-3.1.4/*
openssl-3.1.4.tar.gz
out/*
.vs/*
vcpkg_installed/*
vcpkg/*
CMakeUserPresets.json
.env
*.DS_Store
*.o
*.a
*.geany