CMakeLists.txt.user
.vscode/settings.json
cmake-build-debug/*
cmake-build-debug-visual-studio/*
cmake-build-default/*
cmake-build-minsizerel/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
lucidware-build/*
lucidware-install/*
lucidware-build-web/*
lucidware-install-web/*
lucidware-web-build/*
lucidware-android-build/*
lucidware-android-arm64-build/*
lucidware-web-install/*
out/*
.vs/*
vcpkg_installed/*
CMakeUserPresets.json
.env
*.DS_Store
*.o
*.a