CMakeLists.txt.user
.vscode/settings.json
cmake-build-debug/*
cmake-build-debug-visual-studio/*
cmake-build-default/*
cmake-build-minsizerel/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
sunaba-build/*
sunaba-install/*
out/*
.vs/*
vcpkg_installed/*
CMakeUserPresets.json
